---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Home Page">
  <main class="homepage">
    <!--* fv --->
    <section class="fv">
      <div class="fv_container">
        <h1><a href="/about/">About</a></h1>
      </div>
    </section>
    <!--* end fv --->
  </main>
</Layout>
